.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 40rem;

  @media(min-width:401px) and (max-width: 500px) {
    margin-left: 2rem;
  margin-right: 7rem;
  }

  @media(min-width:501px) and (max-width: 600px) {
    margin-left: 3rem;
    margin-right: 9rem;

  }
  @media(min-width:601px) and (max-width: 700px) {
    margin-left: 4rem;
  margin-right: 14rem;

  }
  @media(min-width:701px) and (max-width: 800px) {
    margin-left: 5rem;
  margin-right: 18rem;

  }
  @media(min-width:801px) and (max-width: 900px) {
    margin-left: 7rem;
  margin-right: 23rem;

  }

@media (min-width:901px) and (max-width: 970px) {
  margin-left: 8rem;
  margin-right: 30rem;
  
}
}
.contact {
  display: flex;
  flex-direction: column;
}
.contact > h1 {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  font-size: 5rem;
  background: linear-gradient(rgba(0, 82, 115, 0.161), rgb(74, 144, 198));
  -webkit-background-clip: text;
  color: transparent;

  @media(min-width:401px) and (max-width: 500px) {
    font-size: 2.5rem;
  }

  @media(min-width:501px) and (max-width: 600px) {
    font-size: 2.9rem;


  }
  @media(min-width:601px) and (max-width: 700px) {
    font-size: 3.3rem;
   

  }
  @media(min-width:701px) and (max-width: 800px) {
    font-size: 4rem;

  }
  @media(min-width:801px) and (max-width: 900px) {
    font-size: 4.3rem;

  }

@media (min-width:901px) and (max-width: 970px) {
  font-size: 4.6rem;
  
}
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}
.form input {
  display: block;
  width: 100%;
  padding: 1.5rem 1.5rem 1.5rem 0.5rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  border-bottom: 3px solid transparent;
}
.form input::placeholder{
  @media(min-width:401px) and (max-width: 500px) {
    font-size: 1rem;
  }

  @media(min-width:501px) and (max-width: 600px) {
    font-size: 1.2rem;


  }
  @media(min-width:601px) and (max-width: 700px) {
    font-size: 1.4rem;
   

  }
  @media(min-width:701px) and (max-width: 800px) {
    font-size: 1.6rem;

  }
  @media(min-width:801px) and (max-width: 900px) {
    font-size: 1.8rem;

  }

@media (min-width:901px) and (max-width: 970px) {
  font-size: 1.8rem;
  
}
}
.form textarea {
  display: block;
  width: 100%;
  padding: 2rem 2rem 2rem 0.5rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: white;
  border-radius: 3px;
  border-bottom: 3px solid transparent;
}
.form label {
  font-size: 2rem;

  @media(min-width:401px) and (max-width: 500px) {
    font-size: 1rem;
  }

  @media(min-width:501px) and (max-width: 600px) {
    font-size: 1.2rem;


  }
  @media(min-width:601px) and (max-width: 700px) {
    font-size: 1.4rem;
   

  }
  @media(min-width:701px) and (max-width: 800px) {
    font-size: 1.6rem;

  }
  @media(min-width:801px) and (max-width: 900px) {
    font-size: 1.8rem;

  }

@media (min-width:901px) and (max-width: 970px) {
  font-size: 1.8rem;
  
}

}
.form input:focus {
    outline: none;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid rgba(126, 213, 111, 0.7568627451);
  }
.form textarea:focus {
    outline: none;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid rgba(126, 213, 111, 0.7568627451);
  }
.form input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form input::-webkit-input-placeholder {
    color: #999;
    
  }
.form textarea::-webkit-input-placeholder {
    color: #999;
  }
.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  margin-top: 1rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
  background-color: rgba(85, 163, 197, 0.416);
  color: #fff;

  
  @media(min-width:401px) and (max-width: 500px) {
    font-size: 0.9rem;
  padding: 1rem 2rem;
  
  
    }
  
    @media(min-width:501px) and (max-width: 600px) {
      font-size: 1rem;
  padding: 1.2rem 2.2rem;
  
    }
    @media(min-width:601px) and (max-width: 700px) {
      font-size: 1.1rem;
  padding: 1.3rem 2,4rem;
  
    }
    @media(min-width:701px) and (max-width: 800px) {
      font-size: 1.2rem;
  padding: 1.4rem 2.6rem;
    }
    @media (min-width:801px) and (max-width: 900px) {
      font-size: 1.3rem;
  padding: 1.5rem 2.8rem;
      
    }
    @media (min-width:901px) and (max-width: 970px) {
      font-size: 1.5rem;
      padding: 1.5rem 3rem;
      
    }
    @media (min-width:971px) and (max-width: 1250px) {
      font-size: 1.5rem;
      padding: 1.5rem 3rem;
      
    }
}

.btn:hover {
  transform: translateY(-0.3rem);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn::after {
  content: "";
  display: inline-block;
  border-radius: 10rem;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.4s;
  z-index: -1;
  background-color: rgba(85, 171, 197, 0.405);
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
